// ***************************************************
// ******************** VARIABLES ********************
// ***************************************************

// ******************** Colors ********************

$color-black: #28283d;
$color-blue-light: #8fe3f9;
$color-blue-dark: #4d96a9;
$color-grey: #87879d;
$color-magenta-dark: #855fb1;
$color-magenta-light: #d9b8ff;
$color-white: #fafafa;
