@import "./partials/variables", "./partials/functions", "./partials/mixins";

* {
  box-sizing: border-box;
  // color: $color-neutral-very-dark-blue;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-white;
  display: grid;
  justify-items: center;
  place-content: center;
  position: relative;
  overflow-x: hidden;
}

// ==================== Additional ====================
.blue-light {
  color: $color-blue-light;
}
.magenta-light {
  color: $color-magenta-light;
}
